:root{
    --logo-blue:#507cd9;
    --logo-green:#4bd579;
    --accent-color:#faf600;
}

html,body{
    margin:0px;
    background-image: url("../background.jpg");
    background-size: cover;
}

#title{
    font-size:400%;
    position: relative;
    transition: 0.2s;
    text-align: center;
    padding: 20px 0px 20px 0px;
    animation-name: ZuiryAnimation;
    animation-duration: 4s;
    position: relative;
    
}

#title::after{
    text-align: center;
    content: "";
    position: absolute;
    top: 90px;
    height: 4px;
    width: 250px;
    left: 480px;
}

#title:hover{
    translate: 0px -10px;
}


#title1{
    font-family: Urbanist;
    font-size:inherit;
    display: inline;
    color: var(--logo-blue);
    padding:0px;
}

#title2{
    font-family: Urbanist;
    font-size:inherit;
    display: inline;
    color: var(--logo-green);
    padding:0px;

}

header{
    background-image: linear-gradient(to right, hsl(50, 74%, 63%) 30%,  hsl(50, 74%, 33%));
    margin:0px;
    font-family: Urbanist;
    padding:0px 10px 0px 10px;
}

main{
    background-color: hsla(0, 0%, 100%, 0.6);
    padding:20px;
    min-height: 90vh;
    width:100wh;
}





#login{
    font-family: Urbanist;
    color: black;
    margin: auto;
    padding:10px 0px 10px 0px;
    transition: 0.2s;
    text-align: center;

}

.login_link{
    text-decoration: none;
    color:inherit;
}

#login:hover{
    color: hsl(0, 0%, 50%);
    font-size: 105%;
    text-decoration: underline;
}


.arrow{
    text-decoration: none;
    text-align: center;
    font-family: Urbanist;
    color: hsl(0, 0%, 48%);
    display: inline;
    padding: 10px;
}

.arrowhide{
    text-decoration: none;
    text-align: center;
    font-family: Urbanist;
    display: inline;
    padding: 10px;
    color: white;
}

.arrow:hover{
    border-radius: 10px;
    background-color: hsl(0, 0%, 90%);
    transition: 0.2s;
}

.pagenav{
    margin: 10px;
    font-size:20px;
    text-align: center;

}

span{
    font-size: inherit;
}



#circle{
    color: hsl(0, 0%, 60%);
    font-size: 70%;
    margin: 5px;
}

#yo{
    color: hsl(0, 0%, 60%);
    font-size: 70%;
    animation-name: changeColor;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-direction: reverse;
    margin: 5px;
}

#circlelight{
    font-size: 80%;
    color: hsl(0, 0%, 40%);
    animation-name: changeColor;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    margin: 5px;
}

@keyframes slideIn{
    0% {opacity: 0; transform: translateX(540px);}
    100% {opacity: 1;}
}

@keyframes changeColor{
    0% {color: hsl(0, 0%, 60%); font-size: 70%;}
    100% {color: hsl(0, 0%, 40%); font-size: 80%;}
}

@keyframes ZuiryAnimations{
    0%{transformY: (200px);}
    100% {transform}
    
}

.pagetitle{
    text-align: center;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin: 40px;
    font-family: Urbanist;
    color: hsl(0, 0%, 30%);
    /*padding: 20px 0px 0px 20px;*/
}


.con{
    margin-top: 60px;
}

.content{
    margin-top:10px;
    animation-name: slideIn;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    transition: transform 0.3s ease;
    transition: 1s;
    font-family: Schoolbell;
    line-height: 40px;
    padding-left: 15%;
    padding-right: 15%;

    
    justify-content: center;
}

.content:hover{
    transform: translateY(-10px);
    
} 

.container:hover {
    transform: translateY(-10px);
}



.linebreak{
    background-color: hsl(33, 36%, 70%);
    width: 40%;
    height: 1px;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}


.footer {
    color:var(--main-color);
    padding: 1rem 0;
    text-align: center;
    bottom: 0;
    left:0;
    right:0;
    font-family: Urbanist;
    background-color: hsla(0, 0%, 100%, 0.6);
}

.container {
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
    width: 33%;
    display: inline-block;
    font-family: Urbanist;
    color:white;
    border-style: solid;
    border-width: 15px;
    border-color: hsl(0, 0%, 0%, 0.08);
    transition-duration: 0.1s;
}

.smol{
    width: 256px;
    height: 256px;
}

#con1{
    background-color: #ff3fb2;
}

#con2{
    background-color: #fac400;
}

#con3{
    background-color: #50b4d9;
}

.smoltitle{
    font-size: 150%;
    font-weight: 600;
}

h4{
    font-weight: 300;
}

