:root{
    --logo-blue:#507cd9;
    --logo-green:#4bd579;
    --accent-color:#faf600;
}

html,body{
    margin:0px;
    
}

#title{
    font-size:220%;
    position: relative;
    opacity: 0.6;
    transition: 0.2s;

    animation-name: ZuiryAnimation;
    animation-duration: 4s;
}


#title1{
    font-family: Urbanist;
    font-size:inherit;
    float: left;
    color: var(--logo-blue);
}

#title2{
    font-family: Urbanist;
    float: left;
    font-size:inherit;
    color: var(--logo-green);
}

header{
    background-color:var(--accent-color);
    display: flex;
    justify-content: space-between;
    margin:0px;
    padding:0px 10px 0px 10px;
}


#login{
    background-color: hsl(205, 92%, 75%) ;
    border-radius: 20px;
    float: right;
    font-family: Urbanist;
    color: black;
    display: inline;
    margin: 20px 0px 20px 0px;
    padding:13px 20px 0px 20px;
    transition: 0.2s;

}

.login_link{
    text-decoration: none;
    color:inherit;
}

#login:hover{
    background-color: hsl(205, 92%, 65%) ;
    color: white;
}


.arrow{
    text-decoration: none;
    text-align: center;
    font-family: Urbanist;
    color: hsl(0, 0%, 48%);
    display: inline;
    padding: 10px;
}

.arrowhide{
    text-decoration: none;
    text-align: center;
    font-family: Urbanist;
    display: inline;
    padding: 10px;
    color: white;
}

.arrow:hover{
    border-radius: 10px;
    background-color: hsl(0, 0%, 90%);
    transition: 0.2s;
}

.pagenav{
    margin: 10px;
    font-size:20px;
    text-align: center;

}

span{
    font-size: inherit;
}

#title:hover {
      opacity: 5;
      font-size:240%;
    
}

#login:hover {
    margin: 10px 0px 30px 0px;
    background-color: hsl(205, 70%, 44%) ;
}

#circle{
    color: hsl(0, 0%, 60%);
    font-size: 70%;
    margin: 5px;
}

#yo{
    color: hsl(0, 0%, 60%);
    font-size: 70%;
    animation-name: changeColor;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-direction: reverse;
    margin: 5px;
}

#circlelight{
    font-size: 80%;
    color: hsl(0, 0%, 40%);
    animation-name: changeColor;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    margin: 5px;
}

@keyframes slideIn{
    0% {opacity: 0; transform: translateX(540px);}
    100% {opacity: 1;}
}

@keyframes changeColor{
    0% {color: hsl(0, 0%, 60%); font-size: 70%;}
    100% {color: hsl(0, 0%, 40%); font-size: 80%;}
}

.pagetitle{
    text-align: center;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    margin: 40px;
    font-family: Urbanist;
    color: hsl(0, 0%, 30%);
    /*padding: 20px 0px 0px 20px;*/
}


.content{
    margin-top:20px;
    animation-name: slideIn;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}



main{
    margin:20px;
}


.linebreak{
    background-color: hsl(33, 36%, 70%);
    width: 40%;
    height: 1px;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}


.footer {
    color:var(--main-color);
    padding: 1rem 0;
    text-align: center;
    bottom: 0;
    left:0;
    right:0;
    font-family: Urbanist
}

