<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zenzone</title>

    <script src="https://kit.fontawesome.com/eff6d61e57.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_2.css')}}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">
    <link rel="icon" href="{{url_for('static',filename='images/x_icon.svg')}}" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kranky&family=Lilita+One&family=Schoolbell&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zenzone</title>
</head>
<body id="body2">
    <div class="four" id="l4">4</div>
    <a href="{{url_for('.home')}}">
        <img src="{{ url_for('static', filename='images/x_icon.svg') }}" width="400" height="600" alt="">
    </a>
    <div class="four">4</div>
    <div id="pagenotfound">PAGE NOT FOUND</div>
    <div id="vroom">Click the zenzone logo to go back to the homepage</div>
</body>