{%extends "layout.html"%}

{%block main_content%}
<div class="pagenav">
    <s href="" class="arrowhide">←</s>
    <i class="fa-solid fa-circle" id="circlelight"></i>
    <i class="fa-solid fa-circle" id="yo"></i>
    <i class="fa-solid fa-circle" id="circle"></i>
    <a href="{{url_for('.page_2')}}" class="arrow">→</a>
</div>
<div class="title">
    <h1 class="pagetitle">What is Anxiety? ~ Mr Chu</h1>
</div>

<hr class="linebreak">



 <div class="content">    
    <h3 class = "pagetitle">  Have you ever felt immense pressure to achieve straight-As in your national exams? You’re not alone. A nationwide survey on youth mental health by the Institute of Mental Health found that nearly a third of young people experience symptoms such as feeling empty, tense, or upset most of the time</h3> 





    <br> 

   

<h3 class="pagetitle">  Anxiety is a natural response to stress—it can even help us stay alert and prepared during challenging situations. However, when anxiety becomes overwhelming and starts interfering with daily life, it may develop into an anxiety disorder. Alarmingly, some Singaporean children and young adults missed an average of 24 school days in the past year due to symptoms of anxiety and depression, according to The Straits Times (2024).
    This highlights how severe and far-reaching anxiety can be, affecting not just mental health but also education, relationships, and overall well-being. </h3> 
 

</div>
</div>

{%endblock%}

{%block footer_content%}

{%endblock%}