<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zenzone</title>

    <script src="https://kit.fontawesome.com/eff6d61e57.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_2.css')}}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">
    <link rel="icon" href="{{url_for('static',filename='images/x_icon.svg')}}" type="image/x-icon">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zenzone</title>
</head>
<body id="homepage_body">
    <header>
        <div id = "title">
            <h1 id="title1">
                zen
            </h1>
            <h1 id="title2">
                zone
            </h1>
        </div>
        <a href="{{url_for('.logout')}}" class="logout__link">
            <div class = "logout__div">
                <p id="logout">logout</p>
            </div>
        </a>
    </header>
    <nav>
        <a href="{{url_for('.index')}}" class = "nav_item {{'nav__link-active' if request.path==url_for('.index')}}">
            <div id = "home"> Home</div>
        </a>
        <a href="{{url_for('.journal')}}" class = "nav_item {{'nav__link-active' if request.path==url_for('.journal')}}">
            <div id = "journal" >Journal</div>
        </a>
        <a href="{{url_for('.breathing')}}" class = "nav_item {{'nav__link-active' if request.path==url_for('.breathing')}}">
            <div id = "breathing">4-7-8</div>
        </a>
    </nav>
<main>
    {%block main_content%}{%endblock%}
</main>
<footer class = "footer">
    {%block footer_content%}{%endblock%}
    <small>Copyright &copy;2025. zenzone. All rights reserved</small>
</footer>
