<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zenzone</title>

    <script src="https://kit.fontawesome.com/eff6d61e57.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href = "{{url_for('static', filename = 'css/style.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">
    <link rel="icon" href="{{url_for('static',filename='images/x_icon.svg')}}" type="image/x-icon">
    
</head>
<body class="body1">
    <main>
        <a href="{{url_for('.index')}}" class = "login_link">
            <img width="40" height="60" src="{{ url_for('static', filename='images/logo.png') }}" alt="zenzone" class="zlogo"/>
        </a>
        {%block main_content%}{%endblock%}
    </main>
    <footer class = "footer">
        {%block footer_content%}{%endblock%}
        <small>Copyright &copy;2025. zenzone. All rights reserved</small>
    </footer>
    
</body>
</html>

