<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zenzone</title>

    <script src="https://kit.fontawesome.com/eff6d61e57.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


</head>
<body>
    <header>
        <div id = "title">
            <h1 id="title1">
                zen
            </h1>
            <h1 id="title2">
                zone
            </h1>
        </div>
        <div id="login">
            <a href="" class = "login_link">Login</a>
        </div>
    </header>
    <main>
        {%block main_content%}{%endblock%}
    </main>
    <footer>
        {%block footer_content%}{%endblock%}
    </footer>
</body>
</html>

