{%extends "layout.html"%}

{%block main_content%}
<div class="pagenav">
    <a href="{{url_for('.page_2')}}" class="arrow">←</a>
    <i class="fa-solid fa-circle" id="circle"></i>
    <i class="fa-solid fa-circle" id="yo"></i>
    <i class="fa-solid fa-circle" id="circlelight"></i>
    <s href="" class="arrowhide">→</s>
</div>

<h1 class="pagetitle">You must take H1 seriously ~ Mr Chu</h1>

<hr class="linebreak">


<div>  <h2 class="content"> Struggling With Anxiety? Try This Breathing Exercise! (4-7-8 Breathing Technique) </h2>  </div>

<div>  <h3 class="content">  </h3>  </div>



<div class = "content">
<h4> 1. Exhale Completely </h4>
   

<h4> 2. Close your lips and inhale silently through your nose while counting to 4 seconds </h4> 
   
    
<h4> 3. Hold your breath for 7 seconds </h4>


<h4> 4. Exhale completely through your mouth for 8 seconds, making the whooshing sound again </li>
</div>



{%endblock%}

{%block footer_content%}

{%endblock%}